body {
    background-color: white;
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}
header {
    background: rgb (131, 58, 180);
    background: linear-gradient(
        60deg,
        rgba(46, 49, 255, 0.836)20%,
        rgba(131,58,180,1)50%,
        rgb(253, 29, 223)80%
    );
    padding: 20px;
}
.header-container {
    display: flex;
}
.img-profile {
    width: 150px;
    height: 150px;
    border: 1px solid white;
    border-radius: 100%;
    box-shadow: 5px 5px 10px 2px rgba(64, 32, 85, 0.336);

}
.holder-img-profile {
    flex: 1;
    text-align: center;
}
.holder-detail-profile {
    flex: 2.5;
}
.name-profile {
    font-size: 35px;
    color: white;
    font-weight: 600px;
}
.title-name-profile {
    color: white;
    font-size: 20px;
}
.button {
    border: none;
    padding: 5px 10px;
    margin: 10px 10px 0 0;
    font-family: "Poppins", sans-serif;
    border-radius: 20px;
    font-size: 11px;
    font-weight: 600;
    transition: all;
    transition-duration: 0.5s;
}
.button.download {
    background-color: rgb(240, 234, 234);
    color: black;
    cursor: pointer;
}
.button.hire {
    background-color: rgb(255, 165, 0);
    color: white;
    cursor: pointer;
}
.button:hover {
    transform: scale(1.1);
}
.content-holder {
    margin-left: 50px;
    margin-right: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
.sub-content {
    font-size: 20px;
    color: rgb(66, 66, 66);
    font-weight: 400;
}
.skill-bar {
    display: block;
    margin: 10px 0;
}
.button:hover {
    transform: scale(1.1);
}
.bar-container {
    width: 100%;
    height: 20px;
    border-radius: 20px;
    background-color: rgb(235, 233, 233);
    position: relative;
}
.bar-filling {
    position: absolute;
    height: 20px;
    border-radius: 20px;
    transition: all;
    transition-duration: 1s;
} 
.blue {
    background-color: rgba(46, 49, 255, 0.636);
    width: 75%;
}
.purple {
    background-color: rgba(131,58,180,0.654);
    width: 80%;
}
.pink {
    background-color: rgb(253, 29, 223, 0.673);
    width: 70%;
}
ul.work-ex li {
    font-size: 25px;
    padding: 10px 0;
}
.sub-work-ex {
    font-size: 20px;
    color: rgb(66, 66, 66);
    font-weight: 400;
}
footer {
    background-color: rgb(76, 75, 75);
    text-align: center;
}
.footer-holder {
    max-width: 900px;
    margin: 0 auto;
    padding: 14px;
}
.footer-name {
    font-size: 15px;
    font-weight: 200;
    color: white;
}